app-avatar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--app-avatar-size, 60px);
    height: var(--app-avatar-size, 60px);
    line-height: 0;
    vertical-align: middle;
    border-radius: var(--app-border-radius, 50%);
    overflow: hidden;
    flex-shrink: 0;
}

app-avatar canvas {
    display: block;
    width: 100%;
    height: 100%;
}
